.gradeWrapper {
  margin: 0 auto;
  width: 300px;
  text-align: center;
  border: 1px solid blue;
  border-radius: 12px;
  padding: 10px;
  background-image: linear-gradient(darkblue, skyblue);
}

.gradeHeading {
  color: white;
  font-family: 'My Soul', cursive;
  font-size: large;
  font-weight: bolder;
  font-size: 55px;
  margin-top: 25px;
}

.gradeInput {
  border: 0px;
  padding: 4px;
  border-radius: 5px;
  background-color: skyblue;
  margin-top: 25px;
  font-family: 'Gloria Hallelujah', cursive;
}

.gradeDiv {
  margin: 0 auto;
  border: 0px;
  padding: 7px;
  border-radius: 5px;
  background-color: skyblue;
  margin-top: 25px;
  width: 90%;
  font-family: 'Gloria Hallelujah', cursive;
}

#submit {
  font-family: 'Gloria Hallelujah', cursive;
  border: 3px solid rgb(190, 233, 250);
  border-radius: 50%;
  color: blue;
  background: rgb(190, 233, 250);
  padding: 2%;
  font-weight: bolder;
}

#reset {
  font-family: 'Gloria Hallelujah', cursive;
  border: 3px solid blue;
  color: rgb(190, 233, 250);
  background: blue;
  border-radius: 50%;
  padding: 2%;
  font-weight: bolder;
}