.calendarWrapper {
  border: rosybrown 2px solid;
  width: 525px;
  margin: 0 auto;
}

.calendarTitle {
  text-align: center;
  padding: 10px;
  font-weight: 700;
  grid-column: span 7;
  font-family: 'Great Vibes', cursive;
  font-size: 80px;
  background-color: antiquewhite;
  color: rgb(126, 76, 67);
}

.calendar {
  display: grid;
  grid-template-columns: 75px 75px 75px 75px 75px 75px 75px;
  font-family: 'Caveat', cursive;
  font-size: 20px;
  font-weight: 900;
  color: rgb(126, 76, 67);
}

.calendarCell {
  border: antiquewhite 4px solid;
  text-align: center;
  padding: 10px;
  background-color: rgba(250, 235, 215, 0.411);
}

.blankDay {
  border: antiquewhite 1px solid;
  text-align: center;
  padding: 3px;
  background-color:rosybrown;
}

#button {
  border: 5px solid rosybrown;
  background-color: rosybrown;
  color: antiquewhite;
  font-weight: bolder;
  border-radius: 50%;
  font-family: 'Caveat', cursive;
  font-size: 20px;
}

#month {
  color: rgb(126, 76, 67);
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  font-weight: bolder;
  padding: 1%;
}

#year {
  color: rgb(126, 76, 67);
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  font-weight: bolder;
  padding: .8%;
}

#dateInput{
  font-weight: bolder;
  text-align: center;
  margin: 10px;
}