.student-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto;
  border: 1px solid black;
  border-radius: 4px;
  width: 300px;
  background-image: linear-gradient(
    rgb(247, 229, 196),
    rgb(177, 150, 132),
    rgb(248, 223, 202),
    rgb(250, 243, 228),
    rgb(248, 223, 209)
  );
}

.cell {
  padding: 10px;
  width: 100%;
}

.title {
  text-align: center;
  font-size: 28px;
  font-family: 'Great Vibes', cursive;
  color: rgb(253, 242, 227);
  font-weight: bold;
  padding: 2%;
}

.cert-title {
  text-align: center;
  font-size: 55px;
  font-family: 'Great Vibes', cursive;
  font-weight: bolder;
  padding: 4px;
}

.cert-sub-title {
  text-align: center;
  font-size: 26px;
  font-family: 'Great Vibes', cursive;
  font-weight: bold;
  padding: 1px;
}

.cert-data {
  text-align: center;
  font-size: 25px;
  font-family: 'Whisper', cursive;
  padding: 1px;
}

input {
  font-family: 'Whisper', cursive;
  font-size: 23px;
  width: 270px;
  background-color: white;
  border-color: silver;
}

button {
  font-family: 'Satisfy', cursive;
  font-weight: bold;
  font-size: 15px;
  margin: 1%;
  padding: 3px;
  border-radius: 10px;
  width: 130px;
  background-color: rgb(192, 165, 147);
  color: rgb(252, 246, 236);
}

.certificate-background {
  background-image: url(./images/cert.jpg);
  background-size: 800x 400px;
  width: 600px;
  height: 464px;
  margin: 0 auto;
  position: relative;
  top: 25px;
}
